<!DOCTYPE html>
<html lang="en">

<head>
    <title>TravisBuddy's Dashboard</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/9.6.0/build.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" />
    <link rel="stylesheet" href="/public/css/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="description" content="An awesome cloud service that integrates TravisCI with GitHub and helps open-source project owners manage their contributions"
    />

    <meta property="og:title" content="TravisBuddy">
    <meta property="og:description" content="An awesome cloud service that integrates TravisCI with GitHub and helps open-source project owners manage their contributions"
    />

    <meta name="twitter:title" content="TravisBuddy" />
    <meta name="twitter:description" content="An awesome cloud service that integrates TravisCI with GitHub and helps open-source project owners manage their contributions"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23421052-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23421052-10');
    </script>
</head>

<body>
    <header>
        <div class="container">
            <a href="/">
                <h1>TravisBuddy</h1>
            </a>

            <nav>
                <ul>
                    <li>
                        <a href="/getting-started">Getting started</a>
                    </li>
                    <li>
                        <a href="/contact-us">Contact us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <section class="logo">
            <img src="/public/images/logo.png" />
        </section>

        <div class="text-center lead">
            Soon we'll let you sign in with your <em>GitHub</em> account, and view statistics in this page.
        </div>

    <footer>
        <div class="container">
            <a href="/">TravisBuddy</a> is an open-source project, hosted on
            <a href="https://github.com/bluzi/travis-buddy">GitHub</a>
        </div>
    </footer>
</body>

</html>