<!DOCTYPE html>
<html lang="en">

<head>
    <title>TravisBuddy's Tutorial</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/9.6.0/build.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/themes/prism.min.css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/prism.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/components/prism-yaml.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.8.4/plugins/normalize-whitespace/prism-normalize-whitespace.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="description" content="An awesome cloud service that integrates TravisCI with GitHub and helps open-source project owners manage their contributions"
    />

    <meta property="og:title" content="TravisBuddy">
    <meta property="og:description" content="An awesome cloud service that integrates TravisCI with GitHub and helps open-source project owners manage their contributions"
    />

    <meta name="twitter:title" content="TravisBuddy" />
    <meta name="twitter:description" content="An awesome cloud service that integrates TravisCI with GitHub and helps open-source project owners manage their contributions"
    />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23421052-10"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-23421052-10');
    </script>
</head>

<body>
    <header>
        <div class="container">
            <a href="/">
                <h1>TravisBuddy</h1>
            </a>

            <nav>
                <ul>
                    <li>
                        <a href="/getting-started">Getting started</a>
                    </li>
                    <li>
                        <a href="/contact-us">Contact us</a>
                    </li>
                </ul>
            </nav>

            <div class="buttons">
                <a class="btn btn-sm" href="/dashboard">
                    <span class="octicon octicon-person"></span>
                    Dashboard
                </a>
            </div>
        </div>
    </header>

    <div class="background-logo">
        <img src="/public/images/logo.png" />
    </div>

    <main class="no-center">
        <div class="container">
            <h1>Getting Started</h1>

            <div class="lead">
                Get TravisBuddy set up on your repository in 2 minutes!
            </div>

            <h2>Public Repositories</h2>

            <p>
                If you're already using Travis CI, modify your
                <span class="quote">.travis.yml</span> and add the following lines:
                <pre>
                    <code class="language-yaml">
                        notifications:
                            webhooks: https://www.travisbuddy.com/
                    </code>
                </pre> If not, enable Travis CI in your repository by following
                <a href="https://docs.travis-ci.com/user/getting-started/">the tutorial in their website</a>
                according to the tech you're using, and then add the code above to
                <span class="quote">.travis.yml</span>.
            </p>

            <p>
                Here's how your
                <span class="quote">.travis.yml</span> should look like if you're using
                <span class="quote">node_js</span>:
                <pre>
                    <code class="language-yaml">
                        language: node_js
                        node_js:
                            - "8"
                        notifications:
                            webhooks: https://www.travisbuddy.com/
                    </code>
                </pre>
            </p>

            <h3 class="margin-top">Disable success message</h3>
            <p>
                If you only want
                <em>TravisBuddy</em> to create comments when the tests fails, add
                <span class="quote">on_success: never</span> to the notifications node, like this:
                <pre>
                    <code class="language-yaml">
                        notifications:
                            webhooks: https://www.travisbuddy.com/
                            on_success: never
                    </code>
                </pre>
            </p>

            <h2 class="margin-top">Private Repositories</h2>
            <em>TravisBuddy</em> is not yet supported on private repositories.
            <br /> However, we're working on it, so stay alarmed.

            <h2 class="margin-top">What if I still can't get it to work?</h2>
            Feel free to
            <a href="/contact-us">contact us using the website</a>, or
            <a href="https://github.com/bluzi/travis-buddy/issues">leave an issue in our GitHub repository</a>.
        </div>
    </main>


    <footer>
        <div class="container">
            <a href="/">TravisBuddy</a> is an open-source project, hosted on
            <a href="https://github.com/bluzi/travis-buddy">GitHub</a>
        </div>
    </footer>
</body>

</html>
