<!DOCTYPE html>
<html lang="en">

<head>
    <title>TravisBuddy's Contact Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/9.6.0/build.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" />
    <link rel="stylesheet" href="/public/css/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <header>
        <div class="container">
            <a href="/">
                <h1>TravisBuddy</h1>
            </a>

            <nav>
                <ul>
                    <li>
                        <a href="/getting-started">Getting started</a>
                    </li>
                    <li>
                        <a href="/contact-us">Contact us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="background-logo">
        <img src="https://travis-ci.org/images/logos/TravisCI-Mascot-1.png" />
    </div>

    <main class="no-center">
        <div class="container">
            <h1>Contact Us</h1>

            <div class="lead">
                Let us know what's on your mind
            </div>

            <h2 class="margin-top">Using GitHub</h2>
            If you have any techinical issues, ideas, thoughts, etc - feel free to
            <a href="https://github.com/bluzi/travis-buddy/issues">use the issues page</a>.

            <h2 class="margin-top">Using Email</h2>
            Email is great, feel free to address any issues you have to:
            <a href="mailto:eliran013@gmail.com">eliran013@gmail.com</a>.

            <h2 class="margin-top">The Easy Way</h2>
            Just leave your message here and hit the send button. It'll find its way to us.

            <form class="contact-us" method="post" action="https://formspree.io/eliran013@gmail.com">
                <input type="hidden" name="_next" value="/contact-us?sent" />
                <div class="flash hidden">
                    Thanks! Your message has been delivered!
                </div>

                <dl class="form-group">
                    <dt>
                        <label>Name</label>
                    </dt>
                    <dd>
                        <input class="form-control" type="text" name="name" placeholder="(John Doe)" />
                    </dd>
                </dl>

                <dl class="form-group">
                    <dt>
                        <label>Email</label>
                    </dt>
                    <dd>
                        <input class="form-control" type="email" name="email" placeholder="(your-name@your-email-provider.com)" />
                    </dd>
                </dl>

                <dl class="form-group">
                    <dt>
                        <label>Contents</label>
                    </dt>
                    <dd>
                        <textarea name="contents" class="form-control" placeholder="Dear TravisBuddy Dev Team,&#10;&#10;You're awesome, but...&#10;&#10;Sincerely yours,&#10;Your secret admirer"></textarea>
                    </dd>
                </dl>

                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Send</button>
                    <button type="reset" class="btn">Clear</button>
                </div>
            </form>
        </div>
    </main>

    <footer>
        <div class="container">
            <a href="/">TravisBuddy</a> is an open-source project, hosted on
            <a href="https://github.com/bluzi/travis-buddy">GitHub</a>
        </div>
    </footer>

    <script>
        if (window.location.href.endsWith('sent')) {
            document.querySelector('form.contact-us .flash').classList.remove('hidden');
        }
    </script>
</body>

</html>