<!DOCTYPE html>
<html lang="en">

<head>
    <title>TravisBuddy's Contact Page</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/9.6.0/build.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" />
    <link rel="stylesheet" href="/public/css/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <header>
        <div class="container">
            <a href="/">
                <h1>TravisBuddy</h1>
            </a>

            <nav>
                <ul>
                    <li>
                        <a href="/getting-started">Getting started</a>
                    </li>
                    <li>
                        <a href="/contact-us">Contact us</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <section class="logo">
            <img src="https://travis-ci.org/images/logos/TravisCI-Mascot-1.png" />
        </section>

        <div class="text-center lead">
            Coming soon
        </div>

    <footer>
        <div class="container">
            <a href="/">TravisBuddy</a> is an open-source project, hosted on
            <a href="https://github.com/bluzi/travis-buddy">GitHub</a>
        </div>
    </footer>
</body>

</html>