<!DOCTYPE html>
<html lang="en">

<head>
    <title>TravisBuddy</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/9.6.0/build.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" />
    <link rel="stylesheet" href="/public/css/style.css" />
</head>

<body>
    <header>
        <div class="container">
            <a href="https://www.travisbuddy.com">
                <h1>TravisBuddy</h1>
            </a>

            <div class="buttons">
                <a class="btn btn-sm" role="button">
                    <span class="octicon octicon-person"></span>
                    Dashboard
                </a>
            </div>
        </div>
    </header>

    <div class="container">
        <section class="logo">
            <img src="https://travis-ci.org/images/logos/TravisCI-Mascot-1.png" />
        </section>

        <div class="text-center lead">
            Not the bot you deserve, but the one you need
        </div>

        <p>
            TravisBuddy will comment on pull requests in your public repository everytime a test failed in one of them. The comment will
            include only the part of the build log that applies to your testing framework, so your contirbutors won't have
            to enter Travis's website and search the long and annoying build log for the reason the tests failed.
        </p>
    </div>

    <footer>
        <a href="https://www.travisbuddy.com">TravisBuddy</a> is an open-source project, hosted on
        <a href="https://github.com/bluzi/travis-buddy">GitHub</a>
    </footer>
</body>

</html>