<!DOCTYPE html>
<html lang="en">

<head>
    <title>TravisBuddy's Home</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/9.6.0/build.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" />
    <link rel="stylesheet" href="/public/css/style.css" />

    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
    <header>
        <div class="container">
            <a href="/">
                <h1>TravisBuddy</h1>
            </a>

            <nav>
                <ul>
                    <li>
                        <a href="/getting-started">Getting started</a>
                    </li>
                    <li>
                        <a href="/contact-us">Contact us</a>
                    </li>
                </ul>
            </nav>


            <div class="buttons">
                <a class="btn btn-sm" href="/dashboard">
                    <span class="octicon octicon-person"></span>
                    Dashboard
                </a>
            </div>
        </div>
    </header>
    <div class="container">
        <section class="logo">
            <img src="/public/images/logo.png" />
        </section>

        <div class="text-center lead">
            Not the bot you deserve, but the one you need
        </div>

        <main>
            <p>
                TravisBuddy will comment on pull requests in your public repository everytime a test failed in one of them. The comment will
                include only the part of the build log that applies to your testing framework, so your contirbutors won't
                have to enter Travis's website and search the long and annoying build log for the reason the tests failed.
            </p>

            <p class="text-center">
                <a class="btn btn-primary" href="/getting-started">Get started</a>
                <a class="btn" href="https://github.com/bluzi/travis-buddy">Contirubte</a>
            </p>
        </main>
    </div>

    <footer>
        <div class="container">
            <a href="/">TravisBuddy</a> is an open-source project, hosted on
            <a href="https://github.com/bluzi/travis-buddy">GitHub</a>
        </div>
    </footer>
</body>

</html>