<!DOCTYPE html>
<html lang="en">

<head>
  <title>TravisBuddy's Home</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Primer/9.6.0/build.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/font/octicons.css" />
  <link rel="stylesheet" href="/public/css/style.css" />

  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body>
  <header>
    <div class="container">
      <a href="/">
        <h1>TravisBuddy</h1>
      </a>

      <nav>
        <ul>
          <li>
            <a href="/getting-started">Getting started</a>
          </li>
          <li>
            <a href="/contact-us">Contact us</a>
          </li>
        </ul>
      </nav>


      <div class="buttons">
        <a class="btn btn-sm" href="/dashboard">
          <span class="octicon octicon-person"></span>
          Dashboard
        </a>
      </div>
    </div>
  </header>
  <div class="container">
    <section class="logo not-found">
      <img src="https://travis-ci.org/images/logos/TravisCI-Mascot-1.png" />
    </section>

    <h1 class="text-center">Oops!</h1>
    <div class="text-center lead">
      Something went terribly wrong! No worries, I know how to fix it, just hit the back button or return to the homepage. Quick!
    </div>
  </div>

  <footer>
    <div class="container">
      <a href="/">TravisBuddy</a> is an open-source project, hosted on
      <a href="https://github.com/bluzi/travis-buddy">GitHub</a>
    </div>
  </footer>
</body>

</html>